<a href="/dashboard" class="menu-link">Administración</a>

<div class="menu-item">
  <div class="menu-toggle">
    <figure class="menu-figure">
      <img src="/uploads/profiles/<%= user.image %>" alt="<%=user.name %>" class="menu-image">
    </figure>
    <i class="fa-solid fa-chevron-down icon"></i>
    </>

    <ul class="submenu">

      <li class="submenu-item">
        <figure class="submenu-figure">
          <p class="name"><%= user.name%></p>
        </figure>

      </li>

      <li class="submenu-item">
        <a href="/settings/<%= user.code %>" class="submenu-link">
          <i class="fa-solid fa-user"></i> Mi Perfil
        </a>
      </li>

      <li class="submenu-item">
        <a href="/settings/image-profile/<%= user.code %>" class="submenu-link">
          <i class="fa-solid fa-image-portrait"></i> Imagen Perfil
        </a>
      </li>

      <li class="submenu-item">
        <a href="/settings/change-password/<%= user.code %>" class="submenu-link">
          <i class="fa-solid fa-key"></i> Cambiar contraseña
        </a>
      </li>

      <li class="submenu-item">
        <a href="/auth/logout" class="submenu-link">
          <i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión
        </a>
      </li>
    </ul>
  </div>