<main class="contenedor panel-administracion">
    <h1>
        <%= namePage %>
    </h1>
    <!-- NAVEGACIÓN -->
    <nav class="contenedor-botones">
        <a href="/groups/new-group" class="btn btn-amarillo">Nuevo Grupo</a>
        <a href="/meeties/new-meeti" class="btn btn-azul">Nueva reunion</a>
    </nav>
    <!-- EVENTOS -->
    <section class="seccion-admin">
        <h2>Próximos Meeti's</h2>
        
        <% if(meeties.length > 0){%>
        <ul>
            <% meeties.forEach(meeti =>{ %>
            <li>
                <div class="informacion-admin">
                    <% moment.locale('es'); %>
                    <% const date = meeti.event_date + ' ' + meeti.hour; %>
                    <p class="fecha"><%= moment(date).format('LLLL') %> Horas</p>
                    <a href="/meeti/<%=meeti.slug%>" target="_blank"> <h3><%= meeti.title %></h3> </a>
                    <small><%= meeti.interesteds.length %> Personas inscritas</small>
                </div>

                <div class="acciones contenedor-botones">
                    <a href="/meeties/edit-meeti/<%= meeti.code %>" class="btn btn-verde">Editar</a>
                    <a href="/assistants/<%= meeti.slug %>" class="btn btn-azul2">Asistentes</a>
                    <a href="/meeties/delete-meeti/<%= meeti.code %>" class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
            <% }) %>
        </ul>
        <% } else{%>
            <p>No tienes Meeti's creados actualmente</p>    
        <%}%>
    </section>

    <section class="seccion-admin">
        <h2>Tus Grupos</h2>
        <%if(groups.length) {%>
            <ul>
            <% groups.forEach(group=> { %>
                <li>
                    <div class="informacion-admin">
                        <h3><%= group.group %></h3>
                    </div>

                    <div class="acciones contenedor-botones">
                        <a href="/groups/edit-group/<%=group.code %>" class="btn btn-verde">Editar</a>
                        <a href="/groups/image-group/<%=group.code %>" class="btn btn-azul2">Imagen</a>
                        <a href="/groups/delete-group/<%=group.code %>" class="btn btn-rojo">Eliminar</a>
                    </div>
                </li>
                <%})%>
            </ul>
            <%} else {%>
                <p>No tienes grupos creados actualmente</p>
            <%}%>
    </section>

    <section class="seccion-admin">
        <h2>Meeti's Anteriores</h2>
        
        <% if(previousMeetings.length > 0){%>
        <ul>
            <% previousMeetings.forEach(meeti =>{ %>
            <li>
                <div class="informacion-admin">
                    <% moment.locale('es'); %>
                    <% const date = meeti.event_date + ' ' + meeti.hour; %>
                    <p class="fecha"><%= moment(date).format('LLLL') %> Horas</p>
                    <h3><%= meeti.title %></h3>
                    <small><%= meeti.interesteds.length %> Personas inscritas</small>
                </div>

                <div class="acciones contenedor-botones">
                    <a href="/meeties/edit-meeti/<%= meeti.code %>" class="btn btn-verde">Editar</a>
                    <a href="/meeties/assistants/<%= meeti.code %>" class="btn btn-azul2">Asistentes</a>
                    <a href="/meeties/delete-meeti/<%= meeti.code %>" class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
            <% }) %>
        </ul>
        <% } else{%>
            <p>No hay Meeti's Anteriores</p>    
        <%}%>
    </section>
</main>