<div class="contenedor proximos-eventos">
    <h1><%= namePage %></h1>
    <% if(meeties.length > 0){%>
    <div class="grid columnas-md-3 ">
        <% meeties.forEach(meeti =>{%>
        <div class="card">
            <%if(meeti.group.image){%>
                <img src="/uploads/groups/<%=meeti.group.image %>" alt="Imagen del grupo <%= meeti.group.group %>">
            <%} else{%>
                <img src="/img/logo.png" alt="Logo meeti">
            <%}%>
            <div class="card-texto">
                <% moment.locale('es'); %>
                <%const date = meeti.event_date + ' ' + meeti.hour;%>

                <p class="fecha"><%= moment(date).format('LLLL'); %> Horas </p>
                <a href="#">
                    <h3><%= meeti.title %> </h3>
                </a>
                <div class="info-autor">
                    <div class="imagen">
                        <% if(meeti.user.image){%>
                            <img src="/uploads/profiles/<%=meeti.user.image%>" alt="Imagen del creador <%= meeti.user.name %>">
                        <%}%>
                    </div>
                    <div class="informacion">
                        <p>Organizado por:</p>
                        <p class="autor"><%= meeti.user.name %></p>
                    </div>
                </div>

            </div>
        </div>
        <%})%>
    </div>
    <%} else{%>
        <p>No hay meeti's en este categoria </p>
        <a href="/" class="btn btn-rosa">Volver al inicio</a>
    <%}%>
</div>