<div class="hero">
    <h1>Encuentra o crea un grupo para compartir lo que más te gusta</h1>
    <a href="/auth/register" class="btn btn-amarillo">Obtener Cuenta</a>
</div>

<div class="buscador-inicio">
    <div class="contenedor">
        <h2>Busca un grupo en tu ciudad</h2>
        <form action="#">
            <select name="categoria">
                    <option value="" disabled selected>-- Selecciona Categoría --</option>
                    <%categories.forEach(category =>{%>
                        <option value="<%=category.id%>"><%=category.category%></option>
                    <%})%>
            </select>
            <input type="text" name="nombre" placeholder="Nombre Meeti">
            <input type="text" name="ciudad" placeholder="Ciudad">
            <input type="text" name="pais" placeholder="País">
            <input type="submit" value="Buscar" class="btn btn-rosa">
        </form>
    </div>
</div>

<div class="contenedor">
    <h2>Próximos Meeti's</h2>
    <div class="grid columnas-md-3 ">
        <%if(meeties.length > 0){%>
            <% meeties.forEach( meeti =>{ %>
        <div class="card">
            <img src="/uploads/groups/<%= meeti.group.image%>">
            <% moment.locale('es') %>
            <% const date =`${meeti.event_date} ${meeti.hour}` %>
            <div class="card-texto">
                <p class="fecha"><%= moment(date).format('LLLL') %> Horas</p>
                <a href="/meeti/<%=meeti.slug%>">
                    
                    <h3><%= meeti.title %></h3>
                </a>
                <div class="info-autor">
                    <% if(meeti.user.image){%>
                        <div class="imagen">
                            <img src="/uploads/profiles/<%= meeti.user.image %>" alt="<%=`Imagen de: ${meeti.user.name} Creador del Meeti ${meeti.title}`%>">
                        </div>
                    <%}else { %>
                        <div class="imagen"></div>
                    <%}%>
                    <div class="informacion">
                        <p>Organizado por:</p>
                        <p class="autor"><%= meeti.user.name %></p>
                    </div>
                </div>
            </div>
        </div>
            <%})%>
        <% }%>
    </div>
</div>

<main class="bg-gris categorias">
    <h2>Encuentra Grupos por Categoría</h2>

    <div class="contenedor">
        <ul class="listado-categorias  grid columnas-2 columnas-md-3">
            <% categories.forEach(category =>{%>
            <li>
                <a href="/categoria/<%= category.slug%>">
                    <img src="/img/categoria_<%=category.id%>.jpg">
                    <p><%=category.category%></p>
                </a>
            </li>
            <%})%>
        </ul>
    </div>
</main>

<div class="meeti-bg">
    <div class="contenedor meeti grid columnas-md-2">
        <section>
            <h3>Crea un grupo</h3>
            <p>Comparte lo que te gusta o tu pasión con los demás, crea tu propio grupo hoy mismo sin costos</p>
        </section>
        <section>
            <h3>Únete a un grupo</h3>
            <p>Conoce personas con tus mismos gustos y pasiones, únete a un grupo ya existente y recibe notificaciones sobre próximos eventos</p>
        </section>
    </div>
</div>