<section class="encabezado-evento">
    <div class="contenedor">
        <div class="resumen-evento">
            <h1><%= meeti.title %></h1>
            <div class="info-autor">
                <figure class="imagen">
                <% if(meeti.user.image){%>
                    <img src="/uploads/profiles/<%=meeti.user.image%>" alt="Imagen de <%=meeti.user.name %>">
                <%}%>
                </figure>
                <div class="informacion">
                    <p>Organizador por: </p>
                    <p class="autor">
                        <a href="/user/<%= meeti.user.code %>"><%= meeti.user.name%></a> Creador de:
                        <a href="/group/<%= meeti.group.code %>"><%= meeti.group.group %></a>
                    </p>
                </div>
            </div> <!-- Info autor-->
        </div> <!--Resumen Evento-->
        
        <div class="pregunta-asistencia">
            <%if(user){%>
                <% const exist = meeti.interesteds?.includes(user.id); %>
                <form action="/confirm-attendance/<%= meeti.code%>" method="post" id="confirm_attendance">
                    <p>¿Asistirás?</p>
                    <% if(exist){%>
                        <input type="hidden" id="inputAction" value="cancel" name="inputAction">
                        <input type="submit" value="Cancelar Asistencia" id="attendance" class="btn btn-rojo">
                    <%} else{%>                            
                        <input type="hidden" id="inputAction" value="confirm" name="inputAction">
                        <input type="submit" value="Confirmar Asistencia" id="attendance" class="btn btn-azul">
                    <%}%>
                    <div id="mensaje"></div>
                </form>
            <%} else{%>
                <p>Inicia sesión para confirmar tu asistencia</p>
            <%}%>
        </div>
    </div>
</section>


<section class="contenido-evento">
    <div class="contenedor">
        <div class="informacion-evento">
            <div class="descripcion">
                <% if (meeti.group.image) { %>
                <img  src="/uploads/groups/<%= meeti.group.image %>" alt="Imagen del grupo <%= meeti.group.group %>" onerror="this.src='/img/logo.png'">
                <% } else { %>
                <img src="/img/logo.png" alt="Logo Meeti">
                <% } %>
                
                <p><%=meeti.description %></p>
            </div>
            <!-- Asistentes -->
            <div class="asistentes">
                <div class="titulo">
                    <h3><%= meeti.interesteds.length%>  Asistentes</h3>
                    <a href="/assistants/<%=meeti.slug%>">Ver Todos</a>
                </div>
            </div>
            <!-- Commentarios -->
            <h2>Comentarios</h2>
            <%if(comments.length > 0) {%>
                <% comments.forEach(comment => {%>
                <div class="comentario">
                    <figure class="imagen">
                        <%if(comment.user.image){%>
                            <img src="/uploads/profiles/<%=comment.user.image %>" alt="Imagen de <%=comment.user.name %>">
                        <%}%>
                    </figure>
                    <div class="texto">
                        <p> <%= comment.message %> </p>
                        <p>Escrito por: 
                            <a href="/user/<%= comment.user.code %>">
                                <%= comment.user.name %>
                            </a>  
                        </p>
                        <% if(user && (comment.id_user === user.id || meeti.id_user === user.id)) { %>
                            <form action="/delete-comment" method="post" class="eliminar-comentario">
                                <input type="hidden" name="idComment" value="<%= comment.id %>">
                                <input type="submit" value="Eliminar" class="btn btn-azul">
                            </form>
                        <%}%>
                    </div>
                </div>
                <%})%>
            <%} else{%>
                <p>No hay comentarios disponibles para este Metti   </p>
            <%}%>

            <%if(user){%>
            <!-- Formulario Comentarios -->
                <form action="/meeti/<%= meeti.id %>" method="POST" class="default-form comentarios">
                    <legend>Agrega un comentario</legend>
                    <div class="campo">
                        <label for="comment">Comentario</label>
                        <textarea name="comment"></textarea>
                    </div>
                    <div class="campo enviar">
                        <input type="submit" value="Enviar" class="btn btn-rosa">
                    </div>
                </form>
            <!-- / Formulario Comentarios -->
            <%} else{%>
                <p>Inicia sesión para agregar un comentario</p>
                <a href="/auth/login" class="btn btn-rosa">Iniciar Sesión</a>
            <%}%>
            


        </div>
        <aside class="información">
            <div class="fecha">
                <% moment.locale ('es'); %>
                <%const date = meeti.event_date + ' ' + meeti.hour; %>
                <p><%= moment(date).format('LLLL')%> Horas </p>
            </div>
            <div class="ubicacion">
                <p> <%= meeti.city%>, <%= meeti.neighborhood %>, <%= meeti.address%> </p>
            </div>
            <!--Mapa de ubicación -->
            <input type="hidden" id="lat" value="<%= meeti.latitude %>">
            <input type="hidden" id="lng" value="<%= meeti.longitude %>">
            <input type="hidden" id="address" value="<%= meeti.address %>">
            <div id="ubicacion-meeti"></div>
        </aside>
    </div>
</section>