<div class="contenedor">
    <h1><%= namePage%></h1>
    <div class="informacion-grupo">
        <figure class="imagen">
            <%if(group.image){%>
                <img src="/uploads/groups/<%=group.image%>" alt="Imagen del grupo <%= group.group %>">
            <%} else{%>
                <img src="/img/logo.png" alt="Logo meeti">
            <%}%>
        </figure>
        <div class="texto">
            <%= group.description %>
            <%if(group.url){%>
                <a href="<%= group.url%>" target="_blank" class="url">Visita nuestro sitio web </a>
            <%}%>

            <!-- Validar si existen meeties del grupo-->
            <% if(meeties.length > 0){%>

                <h2>Próximos Meeti's</h2>
                <ul class="lista-meetis">
                   <% meeties.forEach( meeti => {%>
                        <li>
                            <div class="texto">
                                <a href="/meeti/<%= meeti.slug %>"> 
                                    <h3><%= meeti.title %> </h3>
                                    <% moment.locale('es'); %>
                                    <%  const date = meeti.event_date + ' ' + meeti.hour; %>
                                    <p class="fecha"> <%= moment(date).format('LLLL') %> Horas</p>
                                </a>
                            </div>
                        </li>                    
                    <%})%>
                </ul>
            <%}%>
        </div>
    </div>
</div>